*{
    margin:0;
    padding:0;
  }
  .page-ar{
    direction: rtl;
}
a{
    text-decoration: none;
    color: #fff;
}
.none{
display: none;
}

.lang{
    padding: 0px 3px;
    border-radius: 6px;
    color: white;
    background-color: rgb(174, 174, 174);
    position: fixed;
    right: 10px;
    top: 40px;
    z-index: 99999999999999;
}
  body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: black;
  }
  hr{
   border: 1px solid rgb(214, 155, 27) ;
   box-shadow: 0 0 10px 10px;
  }
  .none{
    display:none;
  }
  a{
    text-decoration: none;

  }
  hr.one{
    border: 1px solid #2c89d4;
  }
  hr.two{
    box-shadow: 0 0 5px 15px #0a2b4a;
    border: 1px solid #0a2b4a;
  }
  hr.three{
    box-shadow: 0 0 5px 15px  rgb(253 118 0) ;
    border: 1px solid  rgb(253 118 0) ;
  }
  hr.four{
    box-shadow: 0 0 5px 15px   rgb(159 159 163);
    border: 1px solid   rgb(159 159 163) ;
    margin-top: 30px;
  }
  hr.five-2{
    box-shadow: 0 0 5px 15px rgb(253 118 0);
    border: 1px solid   rgb(253 118 0);
    margin-top: 50px;
  }
  hr.five{
    box-shadow: 0 0 5px 15px  rgb(37 48 106);
    border: 1px solid    rgb(37 48 106);
    margin-top: 50px;
  }
  hr.sex{
    box-shadow: 0 0 5px 15px  rgb(199 62 20);
    border: 1px solid  rgb(199 62 20);
    margin-top: 50px;
  }
  hr.seven{
    box-shadow: 0 0 5px 15px  rgb(186 184 180);
    border: 1px solid  rgb(186 184 180);
    margin-top: 50px;
  }
  hr.eight{
    box-shadow: 0 0 5px 15px  #e2ca64;
    border: 1px solid #e2ca64;
    margin-top: 50px;
  }
  hr.nine{
    box-shadow: 0 0 5px 15px  #266a7e;
    border: 1px solid #266a7e;
    margin-top: 50px;
  }
  hr.ten{
    box-shadow: 0 0 5px 15px  #266a7e;
    border: 1px solid #266a7e;
    margin-top: 50px;
  }

  header{
    position: fixed;
    width: fit-content;
    z-index: 99999999999;
    margin: 20px;
    left: 30px;
  }
  header .logo{
    font-size: 30px;
    text-transform: uppercase;
    color: #fff;
    

  } 
  .video{
    position: relative;
    background-image: url("../photo/kkkk.jpg");
    background-size:cover;
    width: 100%;
    height: 100vh;
    
  }
  .video video{
    width: 100%;
  }
  .video .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    top: 0;
    left: 0;
    background-color: #0000008a;
  }
  .video .overlay .text{
    padding: 50px;
  }
  .video .text h2 {
    margin:0;
    font-size:120px ;
    color:#fff;
    text-shadow:5px 5px 8px #2c89d4;
  }
  .video .text h2:hover {
    font-size:130px ;
  }
  .introduction{
    margin: 15px;
  }
  .head-section{
    color: white;
    font-size: 60px;
    position: relative;
    margin: auto;
    width: fit-content;
    padding: 0 10px;
  }
  .head-section::after{
    content: "";
    width: 20px;
    height: 20px;
    border: 1px solid white;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    background-color: black;
    top: 88%;
    transition: 0.5s;
    box-shadow: 0 0 3px 5px  rgb(214, 155, 27);
  }
  .head-section::before{
    content: "";
    width: 100%;
    height: 2px;
    background-color: white;
    position: absolute;
    bottom: -3px;
  
  }
  .head-section:hover::after{
    width: 100%;
    height: 100%;
    top: 0;
    border-radius: 10px;
    z-index: -1;
    background-color: black;
    border-left: none;
    border-right: none;
    box-shadow: none;
    border-color: rgb(214, 155, 27);
  }
  .head-section:hover::before{
    display:none;
  }
  .introduction .content {
    padding: 20px;
    margin: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .introduction img{
    width:40%;
    border-radius: 10px;
  }
  .introduction p{
    color: white;
    font-size: 25px;
  }
  .section-main {
    margin-top: 25px;
    position: relative;
  }
  
  .section-main .content{
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  margin: 50px 50px 0 50px;
  padding-top: 50px;
  }
  .section-main .content-t{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 0;
    padding-left: 50px;
    padding-right: 25px;
  }
  .section-main .content-t .mars2{
    width: 250px;
  }
  .section-main .content video{
    width: 300px;
  }
  .section-main .content-t video{
    width: 300px;
  }
  .section-main video.venus{
   width: 180px;
  }
  .section-main video.marc{
   width: 120px;
  }
  .section-main img{
    width: 200px;
  }
  .section-main .content p{
    color: white;
    font-size: 20px;
  
  }
  .section-main .content-t p{
    color: white;
    font-size: 20px;
  }
  .section-main .two{
    padding: 20px 50px 30px 50px;
    color: white;
    font-size: 20px;
  
  }
  .section-main .v-two{
    transform: translateX(-50%);
    position: absolute;
    left: 50%;
    bottom: -200px;
  }
  .footer{
    background-color: #1a1a1a;
    padding: 40px 10px;
    position: relative;
    bottom: -153px;
}
.footer .content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 !important;
  padding: 0 !important;
}
.footer .content .logo{
    color: white;
    flex-basis: 30%;
}
.footer .content .logo h1{
    text-align: left;
}
.footer .content .logo p{
    font-size: 10px;
    color: #d7d7d7;
}
.footer .content ul{
    list-style: none;
}
.footer .content ul li a:hover{
    text-shadow: 2px 2px 5px;
}
.footer .bottom{
    position: absolute;
    bottom: 6px;
    left: 80px;
    color: white;
}

.fa-solid.fa-arrow-up{
  color: rgb(0, 0, 0);
  background-color: #ffffff;
  font-size: 20px;
  padding: 5px;
  border-radius: 5px;
  position: fixed;
  right: -40px;
  bottom: 20px;
  transition: 0.2s;
}

i.fa-solid.fa-arrow-up.show{
  right:10px;

}